---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCIE = [
  {
    date: "Actualmente...",
    title: "Architect | Tech Lead",
    company: "Leon Medical Centers",
    description:
      "Como Ingeniero líder (Arquitecto O lider técnico .Net Core), mi función principal consistía en diseñar la estructura general del sistema asegurando de todos los componentes se relaciones de manera eficiente y escalable.",
    link: "https://leonmedicalcenters.com/?lang=es",
  },
  {
    date: "Enero 2024",
    title: "Architect | Tech Lead",
    company: "hack-inn",
    description:
      "En mi papel como líder de desarrollo de .Net Core, mi función principal consiste en coordinar las tareas y actividades de desarrollo con los miembros del equipo. Utilizando tecnologías de actuales como .Net Core, SQL Server y frontend AngularJS, Moviles Android y Flutter.",
      link: "https://www.hack-inn.com/",
   },

   {
    date: "Mayo 2023",
    title: "Development .Net | Tech Lead",
    company: "Agencia Nacional Digital",
    description:
      "Como líder en el desarrollo de .Net Core, mi función principal consiste en diseñar y desarrollar microservicios para la integración externa en la plataforma de ciudades inteligentes utilizando Fiware/NGSI/RoadXML/HL7. utilizando la metodología Scrum.",
      link: "https://and.gov.co/",
   },
   
   {
    date: "Mayo 2010-2022",
    title: "Desarrollador .Net Full stack",
    company: "SKG Tecnología, Tres Astronautas,Geopagos ",
    description:
      "En mi papel como líder de desarrollo de .Net/Móvil, mi función principal consistía en coordinar las tareas y actividades de desarrollo con los miembros del equipo.  Trabajé en estrecha colaboración con el Product Manager para planificar los requerimientos funcionales y no funcionales de cada proyecto para los desarrollos",
      link: "https://www.linkedin.com/in/jhondiaztech/details/experience/",
   },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
